<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>mocoto</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<form th:action="@{/simReqSave}" th:method="post" th:object="${simReq}">
    <input type="hidden" name="id" th:value="*{id}"/>
    title：<input type="text" name="title"  th:value="*{title}"/>
    path：<input type="text" name="path"  th:value="*{path}"/>

    method：<select name="method">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
            </select>
    <br/>
    <input type="text" name="conditions" th:value="*{conditions[0]}"/>  --> <input type="text" name="results" th:value="*{results[0]}"/>
    <br/>
    <input type="text" name="conditions" th:value="*{conditions[1]}"/>  --> <input type="text" name="results" th:value="*{results[1]}"/>

    <br/>
    <input type="submit" value="确认"/>
</form>


</body>
</html>